<div>
  <h3>Nome</h3>
  <div>
    <input type="text" name="name" value="{{chef.name}}">
  </div>
</div>

<div>
  <h3>Imagem de perfil</h3>
  <div>
    <input type="url" name="image" value="{{chef.image}}">
  </div>
</div>