<div>
  <h3>Nome</h3>
  <div>
    <input type="text" name="name" value="{{chef.name}}">
  </div>
</div>

<div>
  <h3>Imagem de Perfil</h3>
  <div>
    <div class="photos_upload">
      <input class="photos_input" type="file" multiple="multiple" name="images" accept="image/*" value="{{recipe.image}}" onchange="PhotosUpload.handleFileInput(event)">
      <p>Selecione até 6 imagens</p>
    </div>
    <div class="photos_preview"></div>
  </div>
</div>