{% extends "../layout.njk" %}
{% block content %}

  {% if session.admin %}

    <div class="page_title">
      <h1>Gerenciar Chefs</h1>
      <a class="button" href="/admin/chefs/create">Novo Chef</a>
    </div>

  {% endif %}

  <div class="chef_box adm">
    {% for chef in chefs %}
      <div class="chef">
        <img src="{{chef.img}}" alt="Imagem de {{chef.name}}"/>
        <div>
          <h3>{{chef.name}}</p>
          <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}