{%extends "../recipes/layout.njk" %}
{% block content %}

  <section class="hero">

    <div class="top">
      <h1>Gerenciar Chefs</h1>
      <a class="button" href="/admin/chefs/create">Novo Chef</a>
    </div>

    <div class="list chefs">
      {% for chef in chefs %}

        <div class="chef">
          <img src="{{chef.image}}" alt="Imagem de {{chef.name}}"/>

          <div>
            <p class="name">{{chef.name}}</p>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}