{%extends "../recipes/layout.njk" %}

{% block content %}

  <section class="chef_profile adm">

    <div class="chef">
      <div class="page_title">
        <h1>Chef:
          {{chef.name}}
        </h1>
        <a class="button" href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
      </div>

      <img src="{{images[0].src}}" alt="Imagem de {{chef.name}}"/>
      <h2>{{chef.name}}</h2>
      <p>{{chef.total_recipes}}
        receitas</p>
    </div>

  </section>

  <section>
    <div class="chef_recipes">
      <h2>Receitas</h2>
      <div class="recipe_box">
        {% for recipe in recipes %}
          {% if recipe.total_recipes > 0 %}
            <div class="recipe">
              <img src="{{recipeImg.src}}" alt="Imagem de {{recipe.recipe_title}}">
              <div>
                <h3>{{recipe.recipe_title}}</h3>
                <a href="/recipes/{{recipe.recipe_id}}">Visualizar</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}