<div>
  <h3>Nome</h3>
  <div>
    <input type="text" name="name" value="{{user.name}}" required="required">
  </div>
</div>

<div>
  <h3>E-mail</h3>
  <div>
    <input type="email" name="email" value="{{user.email}}" onblur="Validate.apply(this, 'isEmail')" required="required">
  </div>
</div>

<div>
  <h3>Senha</h3>
  <div>
    <input type="password" name="password" required="required">
  </div>
</div>

{% if not user.id %}
  <div>
    <h3>Repetir senha</h3>
    <div>
      <input type="password" name="passwordRepeat" required="required">
    </div>
  </div>
{% endif %}