{% extends "../layout.njk" %}
{% block content %}

  {% if session.userId %}

    <div class="page_title">
      <h1>Gerenciar Usuários</h1>
      <a class="button" href="/admin/user/create">Novo Usuário</a>
    </div>

  {% endif %}

  <div class="user_box adm">
    {% for user in users %}
      <div class="user">
        <div>
          <h3>{{user.name}}</h3>
          <h4>{{user.email}}</h4>
          <a href="/admin/user/{{user.id}}">Editar</a>
          <a href="/admin/user/{{user.id}}">Remover</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}