{% extends "../layout.njk" %}
{% block content %}

  <div class="page_title">
    <h1>Usuários</h1>
    <a class="button" href="/admin/users/create">Novo</a>
  </div>

  <div class="user_box adm">
    {% for user in users %}
      <div class="user">
        <div>
          <h3>{{user.name}}</h3>
          <h4>{{user.email}}</h4>

          {% if session.admin %}
            <a href="/admin/users/{{user.id}}">Editar</a>
          {% endif %}
          {% if session.admin and session.userId != user.id %}
            <a class="remove" href="/admin/users/{{user.id}}">Remover</a>
          {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}