<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon"/>

    <!-- CSS Stylecheets -->
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Foodfy</title>
  </head>

  <body>
    <!-- Header -->

    <section id="header">
      <div class="navbar">
        <a href="/">
          <img src="/img/logo.png" alt="Foodfy Logo"/>
        </a>
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
      </div>
    </section>

    <!-- Nunjucks Content -->

    {% block content %}{% endblock %}

    <!-- Footer -->

    <section id="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
      <p>
        Feito por
        <a href="https://viniciusmoreeira.github.io/">Vinícius Moreira</a>.
      </p>
    </section>

    <script src="/js/index.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
      $(function () {
        $('a').each(function () {
          if ($(this).prop('href') == window.location.href) {
            $(this).addClass('active');
            $(this)
              .parents('li')
              .addClass('active');
          }
        });
      });
    </script>
  </body>
</html>