{% extends "layout.njk" %}
{% block header %}{% endblock %}
{% block content %}

  <section id="header">
    <div class="banner">
      <div class="texts">
        <h1>Oops!</h1>
        <p>
          The page you are looking for might have been removed had its name changed or is temporarily unavailable.
        </p>
      </div>
      <div>
        <img src="./img/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

{% endblock %}