{%extends "layout.njk" %}
{% block content %}

  <section class="recipes">
    {% for item in items %}

      <div class="recipe">
        <img src="{{item.image}}" alt="Imagem de {{item.title}}"/>
        <p class="recipe-title">{{item.title}}</p>
        <p class="recipe-author">por
          {{item.author}}</p>
      </div>

    {% endfor %}
  </section>

{% endblock %}