{%extends "layout.njk" %}

<!-- CSS Stylecheets -->
{% block content %}

  <section class="recipes detailed">

    <div class="recipe">
      <img src="{{item.image}}" alt="Imagem de {{item.title}}"/>
      <p class="title">{{item.title}}</p>
      <p class="author">por
        {{item.author}}</p>
    </div>

  </section>

  <section class="main">

    <div class="recipe-style">
      <div>
        <h2>Ingredientes</h2>
        <a id="hide">ESCONDER</a>
        <ul id="lista0">
          {% for i in item.ingredients %}
            <li>{{i}}</li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="recipe-style">
      <div>
        <h2>Modo de preparo</h2>
        <a id="hide">ESCONDER</a>
        <ul id="lista1">
          {% for i in item.preparation %}
            <li class="preparation">{{i}}</li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="recipe-style">
      <div>
        <h2>Informações adicionais</h2>
        <a id="hide">ESCONDER</a>
        <p id="lista2">{{item.information}}</p>
      </div>

    </div>
  </section>

{% endblock %}