@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  --bg-color: #fbdfdb;
  --dark-text: #000000;
  --light-text: #777777;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
}

/* Header Section */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 980px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px auto;
}

.header form input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 246px;
  font-size: 14px;
  padding: 10px;
}

.header form button {
  background-color: #6558c3;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 136px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  width: 91px;
  height: 100%;
  padding: 10px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar img {
  margin-right: 122px;
}

.header .navbar a {
  font-size: 16px;
  margin-right: 30px;
  color: var(--dark-text);
  text-decoration: none;
}

.header .navbar .active {
  font-weight: bold;
}

/* Banner Section */
.banner_box {
  width: 980px;
  margin: 36px auto;
}

.banner_box .banner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: var(--bg-color);
  border-radius: 30px;
}

.banner_box .banner .banner_info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 316px;
}

.banner_box .banner h1 {
  color: var(--dark-text);
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}

.banner_box .banner p {
  font-size: 18px;
  color: var(--dark-text);
  opacity: 0.7;
  line-height: 28px;
}

.banner_box .banner img {
  margin-top: 66px;
  -ms-grid-column-align: end;
      justify-self: end;
}

/* About Section */
.about_box {
  width: 980px;
  margin: 0 auto;
}

.about_box h1 {
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-text);
  margin-bottom: 20px;
}

.about_box h2 {
  font-size: 20px;
  color: var(--dark-text);
  margin-bottom: 20px;
}

.about_box p {
  font-size: 18px;
  color: var(--light-text);
  line-height: 28px;
  margin-bottom: 30px;
}

/* Recipes Section */
.page_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 980px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.page_title h1 {
  width: 980px;
  margin: 36px auto;
  font-size: 25px;
  color: var(--dark-text);
}

.recipe_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 980px;
  margin: 0 auto;
}

.recipe_box .recipe img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 15px;
  margin-bottom: 20px;
}

.recipe_box .recipe h3 {
  font-weight: normal;
  font-size: 18px;
  color: var(--dark-text);
  line-height: 21px;
  margin-bottom: 5px;
}

.recipe_box .recipe p {
  font-size: 14px;
  color: var(--light-text);
  line-height: 16px;
}

.recipe_box .recipe a {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #6558c3;
  text-decoration: none;
}

/* Chefs Section */
.chef_box {
  width: 980px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: stretch;
  margin: 50px auto;
}

.chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--light-text);
  line-height: 16px;
}

.chef img {
  height: 64px;
  width: 64px;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  border-radius: 50%;
}

.chef h3 {
  font-size: 18px;
  font-weight: normal;
  color: var(--dark-text);
}

.chef p {
  font-size: 14px;
  margin-top: 5px;
}

/* Recipe Profile Page */
.recipe_profile {
  text-align: center;
}

.recipe_profile .recipe img {
  width: 980px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.recipe_profile .recipe h2 {
  font-size: 36px;
  color: var(--dark-text);
  line-height: 42px;
  margin-bottom: 5px;
}

.recipe_profile .recipe p {
  font-size: 20px;
  color: var(--light-text);
  line-height: 24px;
}

.recipe_profile .recipe a {
  text-decoration: none;
}

.recipe_info {
  width: 980px;
  padding: 50px 0 20px;
  margin: 0 auto;
}

.recipe_info h2 {
  font-size: 24px;
  padding: 31px 8px 19px 0;
  display: inline-block;
}

.recipe_info a {
  font-size: 12px;
  color: var(--light-text);
  cursor: pointer;
}

.recipe_info li {
  font-size: 18px;
  list-style: inside;
  list-style-type: "- ";
  color: var(--light-text);
}

.recipe_info p {
  font-size: 18px;
  color: var(--light-text);
  line-height: 28px;
  list-style: inside;
}

.recipe_info .hiding {
  display: none;
}

/* Chef Profile Page */
.chef_profile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.chef_profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 51px 0 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.chef_profile h2 {
  font-size: 36px;
  color: var(--dark-text);
  line-height: 42px;
  margin-bottom: 5px;
}

.chef_profile p {
  font-size: 20px;
  color: var(--light-text);
  line-height: 24px;
}

.chef_recipes {
  width: 980px;
  margin: 50px auto 30px;
}

.chef_recipes .chef_recipes {
  width: 980px;
  margin: 50px auto 30px;
}

.chef_recipes .chef_recipes .recipe_box {
  margin-top: 30px;
}

.chef_recipes .recipe_box {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.chef_recipes .recipe_box .recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chef_recipes .recipe_box .recipe img {
  width: 270px;
  height: 100px;
  margin: 0 20px 0 0;
}

.chef_recipes .recipe_box .recipe p {
  margin-bottom: 10px;
}

.chef_recipes .recipe_box .recipe a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #6558c3;
}

/* Paginate Section */
.pagination {
  margin: 50px 0 0;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  color: #000;
}

.pagination a:hover {
  color: #6558c3;
}

/* Footer Section */
.footer {
  background: #eeeeee;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
}

.footer p {
  font-size: 14px;
  color: var(--light-text);
  text-align: center;
}

/************************ Admin Style Section ************************/
/* Header Section */
.header.adm {
  background-color: #000000;
  width: 100%;
  padding: 30px;
  margin: 0;
}

.header.adm .navbar {
  width: 980px;
  margin: 0 auto;
}

.header.adm .navbar a:first-child {
  margin-right: 50px;
}

.header.adm .navbar a {
  font-size: 15px;
  margin-right: 30px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header.adm .navbar .active {
  font-weight: bold;
}

/* Recipes Section */
.page_title a {
  background-color: #6558c3;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 136px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.recipe_box.adm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.recipe_box.adm .recipe.adm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe_box.adm .recipe.adm img {
  width: 270px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 15px;
  margin-right: 20px;
}

.recipe_box.adm .recipe.adm p {
  margin-bottom: 10px;
}

.recipe_box.adm .recipe.adm a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #6558c3;
}

/* Chefs Section */
.chef_box.adm a {
  font-size: 14px;
  font-weight: bold;
  color: #6558c3;
  text-decoration: none;
}

/* Recipe Profile Page */
.recipe_profile .recipe .page_title {
  text-align: left;
}

/* Chef Profile Page */
.chef_profile.adm .chef {
  display: block;
}

.chef_profile.adm .page_title {
  text-align: left;
}

/* New Recipe and Chef Form Section */
.recipe_form,
.chef_form {
  width: 980px;
  margin: 55px auto;
  position: relative;
}

.recipe_form h3,
.chef_form h3 {
  font-size: 16px;
  margin: 30px 0 10px;
}

.recipe_form a,
.chef_form a {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #6558c3;
  cursor: pointer;
}

.recipe_form input,
.chef_form input {
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  height: 49px;
}

.recipe_form textarea,
.chef_form textarea {
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  min-height: 257px;
}

.recipe_form select,
.chef_form select {
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  padding: 5px;
}

.form_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.save {
  background-color: #6558c3;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 136px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.delete {
  background-color: #dc4747;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 92px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 145px;
}
/*# sourceMappingURL=styles.css.map */