@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "./admin/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
}

/* Header Section */

.header {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: 36px auto;

  form {
    input {
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      width: 246px;
      font-size: 14px;
      padding: 10px;
    }

    button {
      @include primaryBtn;
      width: 91px;
      height: 100%;
      padding: 10px;
    }
  }

  .navbar {
    @include flex;

    img {
      margin-right: 122px;
    }

    a {
      font-size: 16px;
      margin-right: 30px;
      color: var(--dark-text);
      text-decoration: none;
    }

    .active {
      font-weight: bold;
    }
  }
}

/* Banner Section */

.banner_box {
  @include maxWidth;
  margin: 36px auto;

  .banner {
    @include grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-color);
    border-radius: 30px;

    .banner_info {
      align-self: center;
      width: 316px;
    }

    h1 {
      color: var(--dark-text);
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: var(--dark-text);
      opacity: 0.7;
      line-height: 28px;
    }

    img {
      margin-top: 66px;
      justify-self: end;
    }
  }
}

/* About Section */

.about_box {
  @include maxWidth;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    margin-bottom: 30px;
  }
}

/* Recipes Section */

.recipe_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include maxWidth;
  margin: 0 auto;

  .recipe {
    img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      color: var(--dark-text);
      line-height: 21px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: var(--light-text);
      line-height: 16px;
    }
  }
}

/* Chefs Section */

.chef_box {
  @include maxWidth;
  @include grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: stretch;
  margin: 50px auto;
}

.chef {
  @include flex;
  font-size: 14px;
  color: var(--light-text);
  line-height: 16px;

  img {
    height: 64px;
    width: 64px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-text);
  }

  p {
    font-size: 14px;
    margin-top: 5px;
  }
}

/* Recipe Profile Page */

.recipe_profile {
  text-align: center;

  .recipe {
    img {
      @include maxWidth;
      height: 280px;
      border-radius: 15px;
      margin-bottom: 50px;
      object-fit: cover;
      object-position: center center;
    }

    h2 {
      font-size: 36px;
      color: var(--dark-text);
      line-height: 42px;
      margin-bottom: 5px;
    }

    p {
      font-size: 20px;
      color: var(--light-text);
      line-height: 24px;
    }
  }
}

.recipe_info {
  @include maxWidth;
  padding: 50px 0 20px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    padding: 31px 8px 19px 0;
    display: inline-block;
  }

  a {
    font-size: 12px;
    color: var(--light-text);
    cursor: pointer;
  }

  li {
    font-size: 18px;
    list-style: inside;
    list-style-type: quote($string: "- ");
    color: var(--light-text);
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    list-style: inside;
  }

  .hiding {
    display: none;
  }
}

/* Chef Profile Page */

.chef_profile {
  justify-content: center;
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 51px 0 30px;
    object-fit: cover;
    object-position: center top;
  }

  h2 {
    font-size: 36px;
    color: var(--dark-text);
    line-height: 42px;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    color: var(--light-text);
    line-height: 24px;
  }
}

.chef_recipes {
  @include maxWidth;
  margin: 50px auto 30px;
}

/* Footer Section */

.footer {
  background: #eeeeee;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;

  p {
    font-size: 14px;
    color: var(--light-text);
    text-align: center;
  }
}
