@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
}

/* Header Section */

.header {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: 36px auto;

  form {
    input {
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      width: 246px;
      font-size: 14px;
      padding: 10px;
    }

    button {
      @include primaryBtn;
      width: 91px;
      height: 100%;
      padding: 10px;
    }
  }

  .navbar {
    @include flex;

    img {
      margin-right: 122px;
    }

    a {
      font-size: 16px;
      margin-right: 30px;
      color: var(--dark-text);
      text-decoration: none;
    }

    .active {
      font-weight: bold;
    }
  }
}

/* Banner Section */

.banner_box {
  @include maxWidth;
  margin: 36px auto;

  .banner {
    @include grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-color);
    border-radius: 30px;

    .banner_info {
      align-self: center;
      width: 316px;
    }

    h1 {
      color: var(--dark-text);
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: var(--dark-text);
      opacity: 0.7;
      line-height: 28px;
    }

    img {
      margin-top: 66px;
      justify-self: end;
    }
  }
}

/* About Section */

.about_box {
  @include maxWidth;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    margin-bottom: 30px;
  }
}

/* Recipes Section */

.page_title {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: auto;

  h1 {
    @include maxWidth;
    margin: 36px auto;
    font-size: 25px;
    color: var(--dark-text);
  }
}

.recipe_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include maxWidth;
  margin: 0 auto;

  .recipe {
    img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      color: var(--dark-text);
      line-height: 21px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: var(--light-text);
      line-height: 16px;
    }

    a {
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      color: #6558c3;
      text-decoration: none;
    }
  }
}

/* Chefs Section */

.chef_box {
  @include maxWidth;
  @include grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: stretch;
  margin: auto;
}

.chef {
  @include flex;
  font-size: 14px;
  color: var(--light-text);
  line-height: 16px;

  img {
    height: 64px;
    width: 64px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-text);
  }

  p {
    font-size: 14px;
    margin-top: 5px;
  }
}

/* Recipe Profile Page */

.recipe_profile {
  text-align: center;

  .recipe {
    .gallery {
      @include maxWidth;
      margin: auto;

      .highlight {
        > img {
          width: 100%;
          height: 280px;
          border-radius: 15px;
          object-fit: cover;
          object-position: center center;
          cursor: zoom-in;
        }

        .lightbox_target {
          position: fixed;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          overflow: hidden;
          z-index: 100;
          top: -100%;
          left: 0;
          opacity: 0;
          transition: opacity 400ms;

          .lightbox_img {
            margin: auto;
            position: relative;
            top: 4em;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            width: 60%;
            height: 80%;
            object-fit: contain;
          }

          img {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 90%;
            object-fit: contain;
          }

          .lightbox_close {
            @include flex;
            justify-content: center;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -80px;
            right: 0;
            transition: 400ms;
          }
        }
      }

      .gallery_preview {
        @include flex;
        justify-content: flex-end;

        img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border: 1px solid #dddddd;
          border-radius: 3.5px;
          margin: 8px 10px 0 0;
          cursor: pointer;
          opacity: 0.6;
          transition: 200ms;

          &:hover {
            opacity: 1;
          }
        }

        .active {
          opacity: 1;
        }
      }
    }

    h2 {
      font-size: 36px;
      color: var(--dark-text);
      line-height: 42px;
      margin: 50px 0 5px;
    }

    p {
      font-size: 20px;
      color: var(--light-text);
      line-height: 24px;
    }

    a {
      text-decoration: none;
    }
  }
}

.recipe_info {
  @include maxWidth;
  padding: 50px 0 20px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    padding: 31px 8px 19px 0;
    display: inline-block;
  }

  a {
    font-size: 12px;
    color: var(--light-text);
    cursor: pointer;
  }

  li {
    font-size: 18px;
    list-style: inside;
    list-style-type: quote($string: "- ");
    color: var(--light-text);
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    list-style: inside;
  }

  .hiding {
    display: none;
  }
}

/* Chef Profile Page */

.chef_profile {
  justify-content: center;
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 51px 0 30px;
    object-fit: cover;
    object-position: center top;
  }

  h2 {
    font-size: 36px;
    color: var(--dark-text);
    line-height: 42px;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    color: var(--light-text);
    line-height: 24px;
  }
}

.chef_recipes {
  @include maxWidth;
  margin: 50px auto 30px;

  .chef_recipes {
    @include maxWidth;
    margin: 50px auto 30px;

    .recipe_box {
      margin-top: 30px;
    }
  }

  .recipe_box {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;

    .recipe {
      @include flex;

      img {
        width: 270px;
        height: 100px;
        margin: 0 20px 0 0;
      }

      p {
        margin-bottom: 10px;
      }

      a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #6558c3;
      }
    }
  }
}

/* Paginate Section */

.pagination {
  margin: 75px 0 0;
  text-align: center;

  a {
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    color: #000;

    &:hover {
      color: #6558c3;
    }
  }
}

/* Footer Section */

.footer {
  background: #eeeeee;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;

  p {
    font-size: 14px;
    color: var(--light-text);
    text-align: center;
  }
}

/************************ Admin Style Section ************************/

/* Header Section */

.header.adm {
  background-color: #000000;
  width: 100%;
  padding: 30px;
  margin: 0;

  .navbar {
    @include maxWidth;
    margin: 0 auto;

    a:first-child {
      margin-right: 50px;
    }

    a {
      font-size: 15px;
      margin-right: 30px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }

    .active {
      font-weight: bold;
    }
  }
}

/* Recipes Section */

.page_title {
  a {
    @include primaryBtn;
    text-decoration: none;
  }
}

.recipe_box.adm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .recipe.adm {
    @include flex;

    img {
      width: 270px;
      height: 100px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin-right: 20px;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #6558c3;
    }
  }
}

/* Chefs Section */

.chef_box.adm {
  a {
    font-size: 14px;
    font-weight: bold;
    color: #6558c3;
    text-decoration: none;
  }
}

/* Recipe Profile Page */

.recipe_profile {
  .recipe {
    .page_title {
      text-align: left;
    }
  }
}

/* Chef Profile Page */

.chef_profile.adm {
  .chef {
    display: block;
  }

  .page_title {
    text-align: left;
  }
}

/* New Recipe and Chef Form Section */

.recipe_form,
.chef_form {
  @include maxWidth;
  margin: 55px auto;
  position: relative;

  h3 {
    font-size: 16px;
    margin: 30px 0 10px;
  }

  a {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #6558c3;
    cursor: pointer;
  }

  input {
    @include inputForm;
    height: 49px;
  }

  textarea {
    @include inputForm;
    min-height: 257px;
  }

  select {
    @include inputForm;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    padding: 5px;
  }
}

.form_header {
  @include flex;
  justify-content: space-between;
}

.save {
  @include primaryBtn;
}

.delete {
  @include secondaryBtn;
  position: absolute;
  right: 145px;
}

/* Photos Upload Section */
form {
  .upload_gallery {
    @include flex;

    .photos_upload {
      position: relative;
      display: block;
      width: 149px;
      margin-right: 10px;

      .photos_input {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      i {
        @include flex;
        justify-content: center;
        font-size: 28px;
        color: #777777;
        width: 149px;
        height: 149px;
        border: 1px solid #dddddd;
        border-radius: 3.5px;
      }
    }

    .photos_preview {
      @include grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 8px;
      width: 100%;
      margin: 8px 0;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

      .photo {
        position: relative;

        i {
          @include flex;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.2);
          color: red;
          width: 100%;
          height: 100%;
          font-size: 500%;
          cursor: pointer;
          transition: opacity 200ms;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

form {
  .photos_upload.chef {
    position: relative;
    display: block;
    overflow: hidden;
    width: 139px;

    .photos_input {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    p {
      @include primaryBtn;
      width: 100%;
      font-size: 16px;
    }
  }
}
