/* Chefs Section */

.chef_box {
  @include maxWidth;
  width: 90%;
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: stretch;
  margin: 30px auto;
}

.chef {
  @include flex;
  color: var(--light-text);
  font-size: 1.4rem;
  line-height: 1.6rem;

  img {
    height: 64px;
    width: 64px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
  }

  h3 {
    color: var(--dark-text);
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 5px;
  }
}

/* Chef Profile Page */

.chef_profile {
  @include maxWidth;
  width: 90%;
  margin: auto;
  justify-content: center;
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center top;
  }

  h2 {
    color: var(--dark-text);
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-bottom: 5px;
  }

  p {
    color: var(--light-text);
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.chef_recipes {
  @include maxWidth;
  width: 90%;
  margin: auto;

  h2 {
    color: var(--dark-text);
    font-size: 2.6rem;
    line-height: 4.2rem;
    margin: 50px auto;

    @include breakpoint(phone) {
      text-align: center;
    }
  }

  .recipe_box {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    margin: auto;

    .recipe {
      @include flex;

      @include breakpoint(phone) {
        flex-direction: column;
        text-align: center;
      }

      img {
        width: 70%;
        margin-right: 20px;

        @include breakpoint(phone) {
          margin-right: 0;
        }
      }

      div {
        width: 65px;

        h3 {
          margin-bottom: 10px;
        }

        a {
          color: var(--accent);
          font-size: 1.4rem;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

/************************ Admin Style Section ************************/

/* Chefs Section */

.chef_box.adm {
  a {
    color: var(--accent);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
  }
}

/* Chef Profile Page */

.chef_profile.adm {
  .chef {
    display: block;
  }

  .page_title {
    text-align: left;
  }
}
