* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
}

/* Header Section */

.header {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: 36px auto;

  .navbar {
    @include flex;

    img {
      margin-right: 122px;
    }

    a {
      font-size: 16px;
      margin-right: 30px;
      color: var(--dark-text);
      text-decoration: none;
    }

    .login {
      border-bottom: 2px solid var(--accent);
    }

    .active {
      font-weight: bold;
    }
  }
}

/* Banner Section */

.banner_box {
  @include maxWidth;
  margin: auto;

  .banner {
    @include grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-color);
    border-radius: 30px;

    .banner_info {
      align-self: center;
      width: 316px;
    }

    h1 {
      color: var(--dark-text);
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: var(--dark-text);
      opacity: 0.7;
      line-height: 28px;
    }

    img {
      margin-top: 66px;
      justify-self: end;
    }
  }
}

/* About Section */

.about_box {
  @include maxWidth;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    color: var(--dark-text);
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    margin-bottom: 30px;
  }
}

/* Paginate Section */

.pagination {
  margin: 100px auto 0;
  text-align: center;

  a {
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    color: var(--dark-text);

    &:hover {
      color: var(--accent);
    }
  }
}

/* Footer Section */

.footer {
  background: #eeeeee;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;

  p {
    font-size: 14px;
    color: var(--light-text);
    text-align: center;
  }
}

/************************ Admin Style Section ************************/

/* Header Section */

.header.adm {
  background-color: #111111;
  width: 100%;
  padding: 30px;
  margin: auto;

  .navbar {
    @include maxWidth;
    position: relative;
    margin: auto;

    a {
      font-size: 15px;
      margin-right: 30px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }

    .active {
      font-weight: bold;
    }

    form {
      position: absolute;
      right: 0;
    }
  }
}

/* Users Section */

.user_box {
  @include maxWidth;
  @include grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 52px 250px;
  margin: 30px auto;
}

.user {
  font-size: 14px;
  color: var(--light-text);
  line-height: 16px;

  h3 {
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-text);
    margin-bottom: 4px;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
    color: var(--light-text);
    margin-bottom: 16px;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    color: var(--accent);
    text-decoration: none;
    margin-right: 16px;
  }

  .remove {
    color: #f55a5a;
  }
}
