/* Recipes Section */

.page_title {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: auto;

  h1 {
    @include maxWidth;
    margin: 36px auto;
    font-size: 25px;
    color: var(--dark-text);
  }
}

.recipe_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include maxWidth;
  margin: 0 auto;

  .recipe {
    img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      color: var(--dark-text);
      line-height: 21px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: var(--light-text);
      line-height: 16px;
    }

    a {
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      color: var(--accent);
      text-decoration: none;
    }
  }
}

/* Recipe Profile Page */

.recipe_profile {
  text-align: center;

  .recipe {
    .gallery {
      @include maxWidth;
      margin: auto;

      .highlight {
        > img {
          width: 100%;
          height: 280px;
          border-radius: 15px;
          object-fit: cover;
          object-position: center center;
          cursor: zoom-in;
        }

        .lightbox_target {
          position: fixed;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          overflow: hidden;
          z-index: 100;
          top: -100%;
          left: 0;
          opacity: 0;
          transition: opacity 400ms;

          .lightbox_img {
            margin: auto;
            position: relative;
            top: 4em;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            width: 60%;
            height: 80%;
            object-fit: contain;
          }

          img {
            position: absolute;
            margin: auto;
            padding: 20px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 90%;
            object-fit: contain;
          }

          .lightbox_close {
            @include flex;
            justify-content: center;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            opacity: 0;
            transition: 400ms;
          }
        }
      }

      .gallery_preview {
        @include flex;
        justify-content: flex-end;

        img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border: 1px solid #dddddd;
          border-radius: 3.5px;
          margin: 8px 10px 0 0;
          cursor: pointer;
          opacity: 0.6;
          transition: 200ms;

          &:hover {
            opacity: 1;
          }
        }

        .active {
          opacity: 1;
        }
      }
    }

    h2 {
      font-size: 36px;
      color: var(--dark-text);
      line-height: 42px;
      margin: 50px 0 5px;
    }

    p {
      font-size: 20px;
      color: var(--light-text);
      line-height: 24px;
    }

    a {
      text-decoration: none;
    }
  }
}

.recipe_info {
  @include maxWidth;
  padding: 50px 0 20px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    padding: 31px 8px 19px 0;
    display: inline-block;
  }

  a {
    font-size: 12px;
    color: var(--light-text);
    cursor: pointer;
  }

  li {
    font-size: 18px;
    list-style: inside;
    list-style-type: quote($string: "- ");
    color: var(--light-text);
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    list-style: inside;
  }

  .hiding {
    display: none;
  }
}

/************************ Admin Style Section ************************/

/* Recipes Section */

.page_title {
  a {
    @include primaryBtn;
    text-decoration: none;
  }
}

.recipe_box.adm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .recipe.adm {
    @include flex;

    img {
      width: 270px;
      height: 100px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin: 0 20px 0 0;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: var(--accent);
    }
  }
}

/* Recipe Profile Page */

.recipe_profile {
  .recipe {
    .page_title {
      text-align: left;
    }
  }
}
