:root {
  --bg-color: #fbdfdb;
  --dark-text: #000000;
  --light-text: #777777;
  --accent: #6558c3;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@mixin maxWidth {
  max-width: 980px;
}

@mixin primaryBtn {
  background-color: var(--accent);
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 136px;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

@mixin secondaryBtn {
  background-color: #dc4747;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 92px;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

@mixin inputForm {
  font-size: 1.6rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 0 5px;
}
