<div>
  <h3>Nome da Receita</h3>
  <div>
    <input type="text" name="title" value="{{recipe.title}}">
  </div>
</div>

<div>
  <h3>Imagem da Receita</h3>
  <div>
    <input type="url" name="image" value="{{recipe.image}}">
  </div>
</div>

<div>
  <h3>Chef</h3>
  <div>
    <input type="text" name="chef" value="{{recipe.chef}}">
  </div>
</div>

<div>
  <h3>Ingredientes</h3>
  <div id="ingredients">
    {%if recipe %}
      {% for i in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{i}}"/>
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]"/>
      </div>
    {% endif %}
  </div>
  <a class="add-ingredient">Adicionar novo ingrediente</a>
</div>

<div>
  <h3>Modo de preparo</h3>
  <div id="steps">
    {% if recipe %}
      {% for i in recipe.preparation %}
        <div class="step">
          <input type="text" name="preparation[]" value="{{i}}"/>
        </div>
      {% endfor %}
    {% else %}
      <div class="step">
        <input type="text" name="preparation[]"/>
      </div>
    {% endif %}
  </div>
  <a class="add-step">Adicionar novo passo</a>
</div>

<div>
  <h3>Informações adicionais</h3>
  <div>
    <textarea name="information" value="{{recipe.information}}">{{recipe.information}}</textarea>
  </div>
</div>