<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    {% include "./parts/styles.njk"%}

    <title>Foodfy</title>
  </head>

  <body>
    <!-- Header -->

    <section class="header adm">
      <div class="navbar">
        <img class="logo" src="/images/static/white-logo.png" alt="Foodfy Logo"/>

        <div class="links">
          {% if session.userId or session.admin %}
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
          {% endif %}

          {% if session.admin %}
            <a href="/admin/users">Usuários</a>
          {% else %}
            <a href="/admin/profile">Minha conta</a>
          {% endif %}
        </div>

        {% if session.userId %}
          <form action="/admin/logout" method="POST">
            <button class="logout" type="submit">Sair</button>
          </form>
        {% else %}
          <a class="login" href="/">Início</a>
        {% endif %}

      </div>
    </section>

    <!-- Nunjucks Content -->

    {% include "./parts/messages.njk"%}

    <section>

      {% block content %}{% endblock %}

    </section>

    <!-- Footer -->

    <section class="footer">
      <p>Todos os direitos reservados, Receitas Foodfy.</p>
    </section>

    <script src="/scripts.js"></script>
  </body>
</html>