<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    {% include "./parts/styles.njk"%}

    <title>Foodfy</title>
  </head>

  <body>
    <!-- Header -->

    <section class="header adm">
      <div class="navbar">
        <a href="/admin/recipes">
          <img src="/static/white-logo.png" alt="Foodfy Logo"/>
        </a>
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
        <a href="/admin/users">Usuários</a>
      </div>
      <div>
        <a class="login" href="/">Sair</a>
      </div>

    </section>

    {% include "./parts/messages.njk"%}

    <!-- Nunjucks Content -->

    <section>
      {% block content %}{% endblock %}
    </section>

    <!-- Footer -->

    <section class="footer">
      <p>Todos os direitos reservados, Receitas Foodfy.</p>
    </section>

    <script src="/scripts.js"></script>
  </body>
</html>