{%extends "./layout.njk" %}
{% block content %}

  <div class="chef_box">
    {% for chef in chefs %}

      <div class="chef">
        <a href="/chefs/{{chef.id}}">
          <img src="{{chef.img if chef.img else ' https://flyinryanhawks.org/wp-content/uploads/2016/08/profile-placeholder.png'}}" alt="Imagem de {{recipe.title}}"/>
        </a>

        <div>
          <h3>{{chef.name}}</h3>
          <p>{{chef.total_recipes}}
            receitas</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}