<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    {% include "../admin/parts/styles.njk"%}

    <title>Foodfy</title>

  </head>

  <body>
    <!-- Header -->

    <section class="header">
      <div class="navbar">
        <a href="/">
          <img class="logo" src="/images/static/main-logo.png" alt="Foodfy Logo"/>
        </a>
        <div class="links">
          <a href="/about">Sobre</a>
          <a href="/recipes">Receitas</a>
          <a href="/chefs">Chefs</a>
          <a class="login" href="/accounts">Entrar</a>
        </div>
      </div>

      <form action="/recipes" method="GET">
        <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
        <button class="search" type="submit">Buscar</button>
      </form>
    </section>

    <!-- Nunjucks Content -->

    {% include "../admin/parts/messages.njk"%}

    {% block content %}{% endblock %}

    <!-- Footer -->

    <section class="footer">
      <p>Todos os direitos reservados, Receitas Foodfy.</p>
    </section>

    <script src="/scripts.js"></script>
  </body>
</html>