{%extends "./layout.njk" %}
{% block content %}

  {% if filter %}
    <div class="page_title">
      <h1>Buscando por
        {{filter}}
      </h1>
    </div>
  {% endif %}

  <section class="recipe_box">

    {% for recipe in recipes %}

      <div class="recipe">
        <a href="/recipes/{{recipe.id}}">
          <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
        </a>
        <h3>{{recipe.title}}</h3>
        <p>por
          {{recipe.chef_name}}</p>
      </div>

    {% endfor %}
  </section>

{% endblock %}