{%extends "./layout.njk" %}

{% block content %}

  <section class="recipe_profile">

    <div class="recipe">
      <div class="gallery">
        <div class="highlight">
          {% if not images[0] %}
            <img src="https://saocarlosemrede.com.br/wp-content/uploads/2020/01/placeholder-1200x500-1.png"/>
          {% else %}
            <img src="{{images[0].src}}" alt="Imagem de {{images[0].name}}" onclick="Lightbox.open()"/>
          {% endif %}
          <div class="lightbox_target">
            <div class="lightbox_img">
              <img src="{{images[0].src}}" alt="Imagem de {{images[0].name}}">
              <a href="#" class="lightbox_close">
                <i class="material-icons" onclick="Lightbox.close()">close</i>
              </a>
            </div>

          </div>
        </div>

        <div class="gallery_preview">
          {% for image in images %}
            <img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} {% endif %} onclick="ImageGallery.setImage(event)">
          {% endfor %}
        </div>
      </div>

      <h2>{{recipe.title}}</h2>
      <a href="/chefs/{{recipe.chef_id}}">
        <p>por
          {{recipe.chef_name}}</p>
      </a>
    </div>

  </section>

  <section class="recipe_info">

    <div>
      <h2>Ingredientes</h2>
      <a id="hide">ESCONDER</a>
      <ul id="lista0">
        {% for i in recipe.ingredients %}
          <li>{{i}}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h2>Modo de preparo</h2>
      <a id="hide">ESCONDER</a>
      <ul id="lista1">
        {% for i in recipe.preparation %}
          <li>{{i}}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h2>Informações adicionais</h2>
      <a id="hide">ESCONDER</a>
      <p id="lista2">{{recipe.information}}</p>
    </div>

  </section>

{% endblock %}