<!-- Favicon and Material Icons -->

<link rel="icon" href="/images/static/favicon.ico"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CSS Stylecheet -->

<link rel="stylesheet" href="/_sass/style.css"/>