<!-- Favicon and Font -->

<link rel="icon" href="/static/favicon.ico"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"/>

<!-- CSS Stylecheets -->

<link rel="stylesheet" href="/styles/main/index.css"/>
<link rel="stylesheet" href="/styles/forms/forms.css"/>
<link rel="stylesheet" href="/styles/messages/messages.css"/>