@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
}

/* Header Section */

.header {
  background-color: #000000;
  width: 100%;
  padding: 30px;
  margin: 0;

  .navbar {
    @include maxWidth;
    margin: 0 auto;

    a {
      font-size: 15px;
      margin-right: 56px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }

    .active {
      font-weight: bold;
    }
  }
}

/* Recipes Section */

.page_title {
  @include flex;
  @include maxWidth;
  justify-content: space-between;
  margin: auto;

  h1 {
    @include maxWidth;
    margin: 36px auto;
    font-size: 25px;
    color: var(--dark-text);
  }

  a {
    @include primaryBtn;
    text-decoration: none;
  }
}

.recipe_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @include maxWidth;
  margin: 0 auto;

  h3 {
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-text);
    line-height: 21px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: var(--light-text);
    line-height: 16px;
  }

  .recipe {
    @include flex;

    img {
      width: 270px;
      height: 100px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin-right: 20px;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #6558c3;
    }
  }
}

/* Chefs Section */

.chef_box {
  @include maxWidth;
  @include grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: stretch;
  margin: 50px auto;

  .chef {
    @include flex;

    img {
      height: 64px;
      width: 64px;
      margin-right: 20px;
      object-fit: cover;
      object-position: center top;
      border-radius: 50%;
    }

    h3 {
      font-size: 18px;
      font-weight: normal;
      color: var(--dark-text);
    }

    a {
      font-size: 14px;
      font-weight: bold;
      color: #6558c3;
      text-decoration: none;
    }
  }
}

/* Recipe Profile Page */

.recipe_profile {
  text-align: center;

  .recipe {
    .page_title {
      text-align: left;
    }

    img {
      @include maxWidth;
      height: 280px;
      border-radius: 15px;
      margin-bottom: 50px;
      object-fit: cover;
      object-position: center center;
    }

    h2 {
      font-size: 36px;
      color: var(--dark-text);
      line-height: 42px;
      margin-bottom: 5px;
    }

    p {
      font-size: 20px;
      color: var(--light-text);
      line-height: 24px;
    }
  }
}

.recipe_info {
  @include maxWidth;
  padding: 50px 0 20px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    padding: 31px 8px 19px 0;
    display: inline-block;
  }

  a {
    font-size: 12px;
    color: var(--light-text);
    cursor: pointer;
  }

  li {
    font-size: 18px;
    list-style: inside;
    list-style-type: quote($string: "- ");
    color: var(--light-text);
  }

  p {
    font-size: 18px;
    color: var(--light-text);
    line-height: 28px;
    list-style: inside;
  }

  .hiding {
    display: none;
  }
}

/* Chef Profile Page */

.chef_profile {
  text-align: center;

  .page_title {
    text-align: left;
  }

  h1 {
    color: var(--dark-text);
    font-size: 24px;
  }

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 51px 0 30px;
    object-fit: cover;
    object-position: center top;
  }

  h2 {
    font-size: 36px;
    color: var(--dark-text);
    line-height: 42px;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    color: var(--light-text);
    line-height: 24px;
  }
}

.chef_recipes {
  @include maxWidth;
  margin: 50px auto 30px;
}

/* New Recipe and Chef Form Section */

form {
  @include maxWidth;
  margin: 55px auto;
  position: relative;

  h3 {
    font-size: 16px;
    margin: 30px 0 10px;
  }

  a {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #6558c3;
    cursor: pointer;
  }

  input {
    @include inputForm;
    height: 49px;
  }

  textarea {
    @include inputForm;
    min-height: 257px;
  }
}

.form_header {
  @include flex;
  justify-content: space-between;
}

.save {
  @include primaryBtn;
}

.delete {
  @include secondaryBtn;
  position: absolute;
  right: 145px;
}

/* Footer Section */

.footer {
  background: #eeeeee;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;

  p {
    font-size: 14px;
    color: var(--light-text);
    text-align: center;
  }
}
