<div class="fields">

  <div>
    <h3>Nome</h3>
    <div>
      <input type="text" name="name" value="{{user.name}}" placeholder="Digite seu nome" required="required">
    </div>
  </div>

  <div>
    <h3>E-mail</h3>
    <div>
      <input type="email" name="email" value="{{user.email}}" onblur="Validate.apply(this, 'isEmail')" placeholder="Digite seu e-mail" required="required">
    </div>
  </div>

  <div>
    <h3>Senha</h3>
    <div>
      <input type="password" name="password" placeholder="Digite sua senha">
    </div>
  </div>

  {% if not user.id %}
    <div>
      <h3>Repetir senha</h3>
      <div>
        <input type="password" name="passwordRepeat" placeholder="Repita sua senha">
      </div>
    </div>
  {% endif %}
</div>