{%extends "./layout.njk" %}
{% block content %}

  <section class="hero">

    <div class="top">
      <h1>Gerenciar Receitas</h1>
      <a class="button" href="/admin/create">Nova Receita</a>
    </div>

    <div class="list">
      {% for recipe in recipes %}

        <div class="recipe">
          <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>

          <div>
            <p class="title">{{recipe.title}}</p>
            <p class="chef">por
              {{recipe.chef}}</p>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>

{% endblock %}