{% extends "../layout.njk" %}
{% block content %}

  <div class="page_title">
    <h1>Gerenciar Receitas</h1>
    <a class="button" href="/admin/recipes/create">Nova Receita</a>
  </div>

  <div class="recipe_box adm">
    {% for recipe in recipes %}

      <div class="recipe adm">
        <img src="{{recipe.img}}" alt="Imagem de {{recipe.title}}"/>

        <div>
          <h3>{{recipe.title}}</h3>
          <p>por
            {{recipe.chef_name}}</p>
          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
      </div>

    {% endfor %}
  </div>

  <div class="pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}"></div>

{% endblock %}