<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="icon" href="/static/favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS Stylecheet -->
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Foodfy</title>
  </head>

  <body>
    <!-- Header -->

    <section class="header adm">
      <div class="navbar">
        <a href="/admin/recipes">
          <img src="/static/white-logo.png" alt="Foodfy Logo"/>
        </a>
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
      </div>

    </section>

    <!-- Nunjucks Content -->

    <section>
      {% block content %}{% endblock %}
    </section>

    <!-- Footer -->

    <section class="footer">
      <p>Todos direitos reservados, Receitas Foodfy.</p>
    </section>

    <script src="/scripts.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>