{%extends "layout.njk" %}
{% block content %}

  <section class="banner_box">
    <div class="banner">
      <div class="banner_info">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <div>
        <img src="/static/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

  <section class="recipe_box">

    {% for recipe in recipes %}
      <div class="recipe">
        <a href="/recipes/{{recipe.id}}">
          <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
        </a>
        <h3>{{recipe.title}}</h3>
        <p>por
          {{chef.name}}</p>
      </div>
    {% endfor %}

  </section>

{% endblock %}