<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="icon" href="/static/favicon.ico"/>

    <!-- CSS Stylecheet -->
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Foodfy</title>
  </head>

  <body>
    <!-- Header -->

    <section class="header">
      <a href="/">
        <img src="/static/main-logo.png" alt="Foodfy Logo"/>
      </a>
      <div class="navbar">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
      </div>
    </section>

    <!-- Nunjucks Content -->

    {% block content %}{% endblock %}

    <!-- Footer -->

    <section id="footer">
      <p>Foodfy. Todos direitos reservados.</p>
    </section>

    <script src="/scripts.js"></script>
  </body>
</html>