<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="icon" href="/static/favicon.ico"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS Stylecheet -->
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Foodfy</title>

  </head>

  <body>
    <!-- Header -->

    {% include "parts/header.njk" %}

    <!-- Nunjucks Content -->

    {% block content %}{% endblock %}

    <!-- Footer -->

    <section class="footer">
      <p>Todos direitos reservados, Receitas Foodfy.</p>
    </section>

    <script src="/scripts.js"></script>
  </body>
</html>