{%extends "./site/layout.njk" %}
{% block content %}

  <section class="banner_box">
    <div class="banner">
      <div class="banner_info">
        <h1>Oops</h1>
        <p>
          The page you are looking for might have been removed had its name changed or is temporarily unavailable.
        </p>
      </div>
      <div>
        <img src="/static/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

{% endblock %}