{%extends "./site/layout.njk" %}
{% block content %}

  <section class="banner_box">
    <div class="banner">
      <div class="banner_info">
        <h1>Oops!</h1>
        <p>
          Página não encontrada.
          <br>Que tal retornar ao
          <a style="font-weight: bold; color: #000; text-decoration: none" href="/">início?</a>
        </p>
      </div>
      <div>
        <img src="/static/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

{% endblock %}