{%extends "./site/layout.njk" %}
{% block content %}

  <section class="banner_box">
    <div class="banner">
      <div class="banner_info">
        <h1>Oops!</h1>
        <p>
          Essa página não pôde ser encontrada. Que tal retornar ao
          <a style="color: #000" href="/">início?</a>
        </p>
      </div>
      <div>
        <img src="/static/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

{% endblock %}