<section class="header">
  <div class="navbar">
    <a href="/">
      <img src="/static/main-logo.png" alt="Foodfy Logo"/>
    </a>
    <div>
      <a href="/about">Sobre</a>
      <a href="/recipes">Receitas</a>
      <a href="/chefs">Chefs</a>
    </div>
  </div>

  <form action="/recipes" method="GET">
    <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
    <button type="submit">Buscar</button>
  </form>
</section>